// Define variables for header, main, and footer heights
$header-height: 7vh;
$footer-height: 5vh;
$main-height: calc(100vh - ($header-height + $footer-height - 2px));

// Use these variables in your SCSS code
header {
  height: $header-height;
  margin-bottom: -4px;
}

main {
  min-height: $main-height;
  background-color: #f0f0f0;
}

footer {
  height: $footer-height;
}
